@font-face {
	src: url(../fonts/outfit-font.ttf);
	font-family: outfit;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
	background-color: hsl(212, 45%, 89%);
}

.main-body {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: outfit;
	display: flex;
	flex-direction: column;
	text-align: center;
	width: 300px;
	border-radius: 10px;
	background-color: hsl(0, 0%, 100%);
}

.qr-image {
	font-size: 15px;
	width: 280px;
	align-self: center;
	margin: 10px 0 20px 0;
	border-radius: 10px;
}

.heading-text {
	align-self: center;
	width: 280px;
	font-weight: 700;
	margin-bottom: 20px;
}

.small-text {
	align-self: center;
	width: 280px;
	font-weight: 400;
	margin: 0 0 30px 0;
}

@media only screen and (max-width: 600px) {
	.main-body {
		width: 90%;
		max-width: 300px;
	}

	.qr-image {
		width: 100%;
		max-width: 280px;
		margin: 10px auto 20px auto;
	}
}
